/* Brand colors from logo */
:root {
    --vp-c-brand-1: #4343ff;
    --vp-c-brand-2: #5555ff;
    --vp-c-brand-3: #3535cc;
}


/* Hero text sizing */
.VPHero .name {
    font-size: 3rem !important;
    margin-bottom: 1rem;
}

.VPHero .text {
    font-size: 2.5rem !important;
    line-height: 3rem !important;
    margin-bottom: 1rem;
}

.VPHero .tagline {
    font-size: 1.4rem !important;
}
